.coa-clients-items {
    @include flex($wrap:wrap);
    @include notebook {
        @include flex($justify-content: center);
        margin: 30px auto 0 auto;
        max-width: 900px;
    }
    .coa-clients-item {
        width: 50%;
        @include notebook {
            width: 25%;
        }
    }
}