@mixin btn {
  font-family: $f-lato;
  padding: 0;
  line-height: 1.2;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border-radius: 0;
  @include user-select(none);
  @include touch-action(manipulation);
  transition: 400ms;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

@mixin btnSimple($color) {
  @include btn();
  font: 800 0.8em $f-lato;
  color: $color;
  text-transform: uppercase;
}

@mixin btnSection($color1, $color2) {
	@include btn();
	color: $color2;
	background: $color1;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.7px;
	text-transform: uppercase;
  padding: 0.8em 1em;
  border: 0.2em solid $color1;
  box-shadow: 0px 3px 6px #00000045;
	@include notebook {
		color: $color1;
		background: transparent;
		border: 0.2em solid $color1;
		&:hover {
        color: $color2;
        background: $color1;
        border: 0.2em solid $color1;
      }
    }
}

.coa-section-btn-container {
  @include flex($justify-content:center, $align-item:center);
  margin-top: 2.6em;
}
.coa-simple-btn-container {
  margin-top: 0.8em;
}

.coa-simple-btn.black {
  @include btnSimple($c-black);
}
.coa-section-btn.yellow {
  @include btnSection($c-yellow, $c-black);
}

.loadmore {
  @include flex($justify-content:center);
  padding: 1em;
  background: $c-black;
  cursor: pointer;
  span {
    font: 800 1.1em $f-lato;
    color: $c-yellow;
    text-transform: uppercase;
  }
}

