.list-items-images {
  @include flex($justify-content:center, $wrap:wrap);
  .list-item {
    margin: 1em;
    width: 40%;
    @include tablet {
      width: 15%;
    }
  }
  .list-item-figure {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}
