.list-items-images {
  @include flex($justify-content:center, $wrap:wrap);
  .list-item {
    margin: 1.5em 0.3em 0 0.3em;
    width: 30%;
    @include tablet {
      width: 15%;
    }
  }
  .list-item-figure {
    width: 100%;
    height: auto;
  }
}
