/* Banner */

.coa-banner {
	@include flex($justify-content:center, $align-item:center);
	width: 100%;
  height: auto;
	.coa-banner-container {
		max-width: 900px;
		text-align: center;
		padding: 1em;
	}
}
.coa-banner.banner-primary {
	background: $c-black;
	height: 100vh;
}
.coa-banner.banner-secondary {
	min-height: 50vh;
	height: 50vh;
	@include notebook {
    height: 85vh;
  }
	.coa-banner-container {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 5px;
	}
}
.coa-banner-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 30vh;
	margin-top: 34px;
	@include tablet {
		height: 70vh;
	}
}
.coa-banner-title {
	font: 400 2.5em $f-spectral;
  color: $c-yellow;
  @include notebook {
    font-size: 3.5em;
  }
}
.coa-banner-subtitle {
	font: 400 1.15em $f-lato;
  color: $c-light-gray;
  margin-top: 0.7em;
  @include notebook {
    font-size: 1.5em;
  }
}