/* Banner */

.coa-banner {
	@include flex($justify-content:center, $align-item:center);
	width: 100%;
  height: auto;
	.coa-banner-container {
		max-width: 900px;
		text-align: center;
		padding: 0 1em;
	}
}
.coa-banner.banner-primary {
	background: $c-black;
	height: 100vh;
}
.coa-banner.banner-secondary {
	height: 80vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.coa-banner-title{
		@include tablet-landscape {
			font-size: 5rem;
		}
  }
}

.coa-banner-title {
	font: 400 2.5em $f-spectral;
  color: $c-yellow;
  @include notebook {
    font-size: 4em;
  }
}

.coa-banner-subtitle {
	font: 400 1.1em $f-lato;
  color: $c-light-gray;
  margin-top: 0.7em;
  @include notebook {
    font-size: 1.5em;
  }
}