@import 'modules';
@import 'partials';

@import 'template/header/header';
@import 'template/footer/footer';
@import 'template/banners/banners';

// Default Styles - Layouts
html {
  font-family: $f-lato;
  color: $c-black;
  line-height: 1.4;
}
hr {
  width: 60%;
  border-color: $c-white;
}
.section-container {
  padding: 2.5em 1em;
  @include notebook {
    padding: 4em 0;
  }
}
.container {
  @include tablet-landscape {
    max-width: 900px;
    margin: 0 auto;
  }
  @include notebook {
    max-width: 1100px;
    margin: 0 auto;
  }
}
.section-container.background-black {
  background-color: $c-black;
  .section-title {
    color: $c-white;
  }
  .section-subtitle {
    color: $c-white;
  }
  .paragraph {
    color: $c-white;
  }
  .text-featured {
    color: $c-yellow;
  }
}
.section-container.container-polygon-top {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 7em;
  @include notebook {
    clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
    padding-top: 14em;
  }
}
.section-container.container-polygon-top-left {
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  padding-top: 7em;
  @include notebook {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding-top: 14em;
  }
}
.section-container.section-newsletter {
  background-color: $c-black-dark;
}
.container-polygon-bottom-right {
  clip-path: polygon(0% 0%,100% 0,100% 100%,0 93%);
  padding-bottom: 4em;
  @include notebook {
    clip-path: polygon(0% 0%,100% 0,100% 100%,0 83%);
    padding-bottom: 11em;
  }
}

// Text and Titles
.section-title {
  position: relative;
  font: 600 1.6em $f-spectral;
  text-transform: uppercase;
  padding-left: 0.5em;
  &:before {
    content: '';
    display: block;
    height: 55px;
    width: 5px;
    position: absolute;
    top: -1px;
    left: 0;
    background: $c-yellow;
  }
  @include notebook {
    font-size: 2.3em;
  }
}
.section-subtitle {
  font: 400 1.15em/1.4 $f-lato;
  margin: 1em 0 1.5em 0;
  @include tablet {
    width: 60%;
  }
  @include notebook {
    font-size: 1.2em;
  }
}
.section-title.text-center {
  position: relative;
  text-align: center;
  margin: 0 auto;
  &:before {
    content: '';
    display: block;
    height: 5px;
    width: 55px;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
    background: $c-yellow;
  }
}
.section-subtitle.text-center  {
  text-align: center;
  margin: 1em auto 1.5em auto;

}
.text-content {
  font: 400 1em/1.4 $f-lato;
  margin-top: 0.7em;
  @include tablet-landscape {
    width: 70%;
  }
  @include notebook {
    width: 60%;
  }
}
.paragraph {
  font: 1em $f-lato;
  color: $c-black;
  margin-top: 0.8em;
}


//newsletter
.news-title {
  font: 600 1.5em $f-lato;
  color: $c-white;
  text-align: center;
}
.news-subtitle {
  font: 600 1.1em $f-lato;
  color: $c-white;
  text-align: center;
  margin-top: 1em;
}
.news-optin {
  font: 300 0.9em $f-lato;
  color: $c-white;
  line-height: 1.5;
  text-align: center;
  margin-top: 2em;
  strong {
    color: $c-yellow;
    font-weight: 600;
  }
  a {
    color: $c-yellow;
    font-weight: 400;
    text-decoration: underline;
  }
}

// Section Content Styles
.block-content.content-column-count {
  margin-bottom: 2em;
  @include tablet {
    column-count: 3;
    column-gap: 3em;
    max-height: 500px;
    overflow: hidden;
    .text-content {
      width: 100%;
      margin: 1em 0;
    }
    hr {
      width:90%;
      border-color: $c-red;
      margin-block-start: 1.5em;
      margin-block-end: 1.5em;
    }
    .blockquote-content {
      font: 600 0.9em $f-lato;
      font-style: italic;
      color: $c-red;
      line-height: 1.5;
    }
  }
  .figure {
    margin: 2em 0;
    @include tablet {
      width: 70%;
      margin: 1em auto;
    }
    &:last-of-type {
      width: 100%;
    }
  }
}
.section-content-a > .block-content {
  @include tablet {
    @include flex($justify-content:center, $align-item:center);
  }
  .figure {
    position: relative;
    margin-top: 1em;
    @include tablet {
      margin-top: 2em;
    }
    @include tablet {
      &:first-of-type{
        width: 60%;
        height: 300px;
        margin-right: 1em;
        img {
          height: 100%;
        }
      }
      &:nth-of-type(2) {
        width: 40%;
        height: 300px;
        img {
          height: 100%;
        }
      }
    }
    .cta-image {
      position: absolute;
      bottom: 10px;
      right: 0;
      font: 600 1em/1.4 $f-lato;
      color: $c-yellow;
      text-transform: uppercase;
      background: $c-black;
      padding: 1em 1.5em;
    }
  }
}

// .list-items-with-excerpt style Desktop
.flex-column.section-coursers {
  @include notebook {
    @include flex($justify-content:center, $align-item:flex-start);
    margin-top: 2.5em;
    height: 650px;
    .list-content-information {
      width: 40%;
      height: 100%;
      background: $c-black;
      margin-top: 1px;
      .list-content-article {
        padding: 2em;
        color: $c-white;
        .list-content-title {
          font: 600 1.6em $f-spectral;
          color: $c-yellow;
        }
        .coa-section-btn-container {
          font-size: 80%;
        }
      }
    }
  }
  .list-content-information {
    display: none;
    @include notebook {
      display: block;
    }
  }
}
// List/Featured Content Styles
.list-items-with-excerpt {
  @include notebook {
    @include flex($justify-content:flex-start, $align-item:flex-start,$wrap:wrap);
    width: 60%;
    height: auto;
  }
  .list-item {
    margin-top: 2.5em;
    cursor: pointer;
    @include notebook {
      margin-top: 0;
      border: 1px solid $c-white;
      width: 49%;
      height: auto;
      filter: grayscale(1);
      @include transition(500ms);
      &:hover {
        filter: none;
      }
    }
  }
  .list-item.active {
    @include notebook {
      filter: none;
    }
  }
  .list-item-figure {
    .list-item-figcaption {
      font: 600 1.2em $f-lato;
      margin-top: 0.8em;
      @include notebook {
        display: none;
      }
    }
  }
}
.list-items-images {
  @include flex($justify-content:center, $wrap:wrap);
  .list-item {
    margin: 1.5em 0.3em 0 0.3em;
    width: 30%;
    @include tablet {
      width: 15%;
    }
    @include notebook {
      width: 10%;
    }
    @include desktop {
      width: 15%;
    }
  }
  .list-item-figure {
    width: 100%;
    height: auto;
  }
}
.list-items-featured-content {
  @include tablet {
    @include flex($justify-content:space-between, $align-item:center, $wrap:wrap);
  }
  .list-item {
    margin-top: 2.5em;
    cursor: pointer;
    @include tablet {
      width: 30%;
    }
    @include notebook {
      width: 33.3%;
      position: relative;
      margin: 0;
    }
  }
  .list-item-figure {
    margin: 0 -1em;
    @include tablet {
      margin: 0 auto;
    }
  }
  .list-item-article {
    @include notebook {
      @include transition(400ms);
      &:hover {
        .list-item-info {
          height: 40%;
          background: $c-white;
          opacity: 1;
          z-index: 1;
          width: auto;
        }
        .list-item-figure {
          filter: brightness(0.5);
          @include transition(400ms);
        }
      }
    }
    @include desktop {
      font-size: 100%;
      &:hover {
        .list-item-info {
          height: 30%;
        }
      }
    }
  }
  .list-item-info {
    @include notebook {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 5px;
      font-size: 80%;
      padding: 1em;
      opacity: 0;
      z-index: -1;
      @include transition(400ms);
    }
    @include desktop {
      font-size: 100%;
    }
    .flex {
      @include flex($justify-content:space-between);
      margin-top: 0.8em;
    }
    .list-item-category {
      font: 600 1em $f-lato;
      color: $c-red;
      text-transform: uppercase;
    }
    .list-item-time {
      font: 600 1em $f-lato;
    }
    .list-item-title{
      font: 600 1.5em $f-lato;
      margin-top: 0.8em;
    }
    .list-item-user {
      font: 400 1em $f-lato;
      margin-top: 0.8em;
      strong {
        font-weight: 600;
      }
    }
  }
}
.list-items-editor {
  @include notebook {
    @include flex($justify-content:space-between, $align-item:center);
  }
  .list-item {
    text-align: center;
    @include smartphone {
      &:first-of-type {
        margin: 2.5em 0;
      }
      &:nth-of-type(2) {
        border-top: 1.5pt solid $c-light-gray;
        border-bottom: 1.5pt solid $c-light-gray;
        margin-top: 0;
        padding: 2.5em 0;
      }
      &:last-of-type {
        margin-top: 2.5em;
      }
    }
    @include notebook {
      width: 30%;
      margin: 1.5em 0 0 0;
      &:nth-of-type(2) {
        border: none;
        border-left: 1.5pt solid $c-light-gray;
        border-right: 1.5pt solid $c-light-gray;
        padding: 0 2em;
      }
    }
    .circle {
      @include flex($justify-content:center, $align-item:center);
      span {
        @include flex($justify-content:center, $align-item:center);
        width: 50px;
        height: 50px;
        font: 600 1.5em $f-lato;
        color: $c-yellow;
        background-color: $c-black;
        border-radius: 100%;
      }
    }
    .list-item-title {
      font: 800 1.2em $f-lato;
      text-transform: uppercase; 
      margin-top: 0.7em;
    }
    .list-item-text {
      margin-top: 0.5em;
    }
  }
}
.list-items-editor-terms {
  @include notebook {
    @include flex($justify-content:space-between, $wrap: wrap);
    margin: 0 auto;
    padding: 0 5em;
  }
  .list-item {
    @include flex($justify-content:space-between, $align-item:center);
    margin-top: 3em;
    text-align: right;
    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      text-align: left;
    }
    @include notebook {
      width: 30%;
      margin: 3em 3em 0 3em;
    }
    .list-items-article {
      width: 75%;
      .list-item-text {
        font: 400 1.1em $f-lato;
        color: $c-white;
      }
    }
    .circle {
      @include flex($justify-content:center, $align-item:center);
      width: 60px;
      height: 60px;
      border: 2pt solid $c-red;
      border-radius: 100%;
      .number {
        font: 900 2em $f-lato;
        color: $c-red;
      }
    }
  }
}

// Carousel Content Styles
.list-items-carousel-content {
  margin: 3em 0;
  .owl-item.active.center {
    .list-item {
      opacity: 1;
      @include notebook {
        width: 390px;
        height: 450px;
        .container-title {
          font-size: 130%;
        }
      }
    }
  }
  .owl-item {
    @include flex($justify-content:center, $align-item:center);
    height: 500px;
  }
  .list-item {
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 1em 0;
    padding: 1em 0 1.1em 0;
    border: 1px solid $c-white;
    opacity: .3;
    @include transition(400ms);
    cursor: pointer;
    @include notebook {
      width: 312px;
      height: 360px;
      &:hover {
        opacity: .5;
      }
    }
  }
  .list-item-article {
    @include flex($flex-direction:column, $justify-content:space-between);
    height: 100%;
  }
  .container-title {
    background-color: $c-black;
    text-align: center;
    opacity: 0.8;
    padding: 1em;
    border: 1px solid $c-gray;
    .list-item-title{
      font: 600 1.1em $f-lato;
      color: $c-white;
    }
  }
  .coa-section-btn-container {
    font-size: 90%;
  }
}
.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 2em;
  @include notebook {
    margin-top: 3em;
  }
}
.owl-theme .owl-dots .owl-dot.active span{
  background: $c-red;
  outline: none;
}
.owl-dot {
  &:focus {
    outline: none;
  }
}

// Sections Exclusive page projetos
.section-editor-terms {
  .section-subtitle {
    @include notebook {
      text-align: center;
      margin: 1em auto 1.5em auto;
    }
  }
}
.final-terms {
  margin-top: 3em;
  .paragraph {
    font: 600 0.9em $f-lato;
    color: $c-yellow;
    text-align: center;
  }
}

.section-send-work {
  .flex-column {
    @include notebook {
      @include flex($justify-content:space-around);
    }
    .column {
      @include notebook {
        width: 40%;
      }
      .paragraph {
        font-size: 0.9em;
        line-height: 1.5;
      }
    }
  }
}

.list-items-lit-content {
  .list-item {
    border: 1pt solid $c-light-gray;
    .list-item-figure {
      height: 250px;
      width: 100%;
      overflow: hidden;
      @include desktop {
        height: 300px;
      }
    }
    .list-item-article {
      background-color: $c-black;
      border-top: 1pt solid $c-light-gray;
      padding: 1.5em 1em;
      .list-item-title{
        font: 500 1.2em $f-spectral;
        color: $c-yellow;
      }
      .list-item-text{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 63px; 
        font: 400 0.9em $f-lato;
        color: $c-white;
        margin-top: 1em;
        line-height: 1.5;    
        @include notebook {
          max-height: 96px;
        }
      }
    }
  }
}
