@import 'modules';
@import 'partials';

@import 'template/header/header';
@import 'template/footer/footer';
@import 'template/pages/default-pages';
@import 'template/banners/banners';
@import 'template/content-blocks/content-blocks';
@import 'template/content-lists/content-carousel';
@import 'template/content-lists/content-featured';
@import 'template/content-lists/content-gallery';
@import 'template/content-lists/content_editor';
@import 'template/partners/partnes';
@import 'template/newsletter/newsletter';


.single-section-container {
  margin: 1.5em 0;
  @include notebook {
    @include flex($justify-content:space-between, $align-item:flex-start);
    margin: 1.5em;
  }
  .single-section-content {
    padding: 0 1em;
    @include notebook {
      width: 65%;
      padding: 0 2em;
    }
  }
}

.single-sidebar-container {
  padding: 0 1em;
  background-color: $c-light-gray;
  height: 600px;
  @include notebook {
    width: 25%;
  }
}

.single-title {
  font: 800 2.2em $f-lato;
  margin: 1.1em 0;
  text-align: center;
}
// Text and Titles Block Wordpress
.block-style{
  font-family: $f-lato;
  font-size: 1rem;
  line-height: 1.5 !important;
  h2,h3,h4,h5,h6 {
    margin: 1.1em 0;
  }
  // Tipografia
   h2 {
    font: 800 1.5em $f-lato;
   }
   h3 {
    font: 800 1.17em $f-lato;
   }
   h4 {
    font: 800 1em $f-lato;
   }
   h5 {
    font: 700 1em $f-lato;
   }
   h6 {
    font: 700 1em $f-lato;
   }
   p {
    font: 400 1em $f-lato;
  }
  a {
    color: $c-red;
    &:focus {
      color: $c-red;
    }
  }

  // Listas ol, li
  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    li {
      margin: 0.3em 0;
      a {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }

  // Imagens
  img {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  // Blockquote 
  blockquote {
    font: 800 1.17em $f-lato;
    display: block;
    padding: 1em;
    margin: 3em 0;
    border-top: 2pt solid $c-red;
    border-bottom: 2pt solid $c-red;
    position: relative;
    p {
      font: 600 1.17em $f-spectral;
      font-style: italic;
    }
    &:after {
      display: block;
      content: '"';
      font-size: 1.8em;
      color: $c-red;
      background: $c-white;
      width: max-content;
      height: max-content;
      padding: 0 20px;
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      
      margin: 0 auto;
    }
  }

  @include tablet {
    blockquote {
      max-width: 600px;
      margin: 5em auto;
      padding: 2em;
    }
  }
  @include notebook {}
}


  
