@import 'modules';
@import 'partials';

@import 'template/header/header';
@import 'template/footer/footer';
@import 'template/pages/default-pages';
@import 'template/singles/singles';
@import 'template/banners/banners';
@import 'template/content-blocks/content-blocks';
@import 'template/content-lists/content-carousel';
@import 'template/content-lists/content-featured';
@import 'template/content-lists/content-gallery';
@import 'template/content-lists/content_editor';
@import 'template/partners/partnes';
@import 'template/newsletter/newsletter';

.wrap-content .wp-block-group__inner-container {
  max-width: 1032px;
  padding: 0 1em;
  margin: 0 auto;
}

.medias {
	display: none;
	@include tablet-landscape {
		display: block;
		width: 20%;
	}
  .medias-list {
    @include flex($justify-content:center, $align-item:center);
    .medias-item {
      width: 20px;
      text-align: center;
			margin: 0 0.5em;
      cursor: pointer;
      .media-link {
        font-size: 1.2em;
        color: $c-light-gray;
      }
    }
  }
}

.search-button {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  i {
    font-size: 1.1em;
    color: $c-light-gray;
  }
}