.coa-footer {
	position: relative;
	.coa-footer-container {
		background: $c-black-dark;
		padding: 1.2em;
	}
}
.coa-footer-terms {
	.terms-items {
		@include flex($justify-content:center, $align-item:center);
		margin-top: 1em;
		.terms-item {
			.term-name {
				font: 400 0.9em $f-lato;
				color: $c-gray;
				@include transition(300ms);
				&:hover {
					color: $c-white;
				}
			}
		}
		.line {
			display: block;
			width: 1px;
			height: 20px;
			background: $c-black-dark;
			margin: 0 0.6em;
		}
	}
}
.coa-footer-license {
	margin-top: 0.5em;
	.lincense-text {
		font: 400 0.8em $f-lato;
		color: $c-gray;
		text-align: center;
	}
}
.coa-footer-nav {
	display: none;
	@include notebook {
		display: block;
		width: 35%;
		float: left;
	}
	.coa-nav-items {
		.coa-nav-item {
			.coa-nav-link {
				font: 400 0.75em $f-lato;
				color: $c-white;
				text-transform: uppercase;
				@include transition(300ms);
				border-left: 3px solid transparent;
				&:hover {
					border-left: 3px solid $c-black-dark;
					padding-left: 10px;
					color: $c-white;
				}
			}
		}
	}
}
.coa-footer-categories {
  background-color: #000;
  .footer-categories-title {
    font: 600 1.2em $f-lato;
    text-align: center;
    color: $c-yellow;
  }
  .footer-list-categories {
		column-count: 2;
    width: auto;
    padding: 3em 30px;
    margin: 0 auto;
    .cat-item {
      a {
        font: 400 1em $f-lato;
        color: $c-white;
        transition: 400ms;
        &:hover {
          color: $c-yellow;
        }
      }
		}
		@include notebook {
			column-count: 4;
			width: 60%;
		}
  }
}
/* Footer */
.go-up {
  text-decoration: none;
  color: $c-black;
  background-color: $c-yellow;
  border-radius: 100%;
  position: absolute;
	top: auto;
	bottom: 90px;
	right: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
	font-size: 1.5em;
	@include notebook {
		top: 0;
		bottom: auto;
	}
}